app-desafio1/node_modules
app-desafio2/node_modules
app-desafio3/node_modules
app-desafio4/node_modules
app-desafio5/node_modules
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*